body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #151c1f;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}

/* Modal Section */

/* .modal{
    width: 100%;
    height: 100vh;
    background-image: url("../images/princessBrideBack.png");
    background-size: contain;
    background-position: center;
    background-color: rgb(2, 3, 15);
    background-repeat: no-repeat;
    opacity: 1;
} */

.modal{
    height: 100vh;
    width: 80%;
    margin: auto;
    background-color: #37413B;
    opacity: 1;
}

.fadeOutA{
    animation-name: fadeOut;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.gone{
    display: none;
}

.fadeInA{
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity: 0; visibility: hidden;}
}

@keyframes fadeIn{
    0%{opacity: 0; visibility: visible;}
    100%{opacity: 1}
}

.rules{
    width: 900px;
    background-color: #37413B;
    color: white;
    z-index: 3;
    font-family: "Monotron", cursive;
    margin: auto;
    padding-top: 1em;
}

.rule{
    margin: 5px 0;
    font-size: 20px;
}

.buttonArea{
    position: relative;
}

.myBtn{
    border: 1px white solid;
    padding: 5px 8px;
    width: 200px;
    cursor: pointer;
    font-family: "Monotron", cursive;
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
    transition: box-shadow, .25s;
    position: absolute;
    background-color: #37413B;
    z-index: 5;
    top: 240px;
    left: calc(50% - 108px);
    text-align: center;
    color: white;
}

.myBtn2{border: 1px white solid;
    padding: 5px 8px;
    width: 200px;
    cursor: pointer;
    margin: 20px auto;
    font-family: "Monotron", cursive;
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
    transition: box-shadow, .25s;
}

.myBtn:active{
    box-shadow: none;
    transition: all, .25s;
}

.myBtn2:active{
    box-shadow: none;
    transition: all, .25s;
}


.myBtn-animate{
    animation-name: fall;
    animation-duration: 3s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
}

@keyframes fall{
    0%{top: 240px;}
    100%{top: 1500px; display: none;}
}

.myBtn-hidden{
    top: 1500px;
    height: 0px;
    visibility: hidden;
}

.myBtn-reAnimate{
    top: 1500px;
    box-shadow: none;
    animation-name: rise;
    animation-duration: 2.5s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;

}

@keyframes rise{
    0%{top: 1500px;}
    100%{top: 240px;}
}

.gameOver{
    visibility: hidden;
}

.gameOver2{
    visibility: visible;
    font-family: 'Anton', sans-serif;
    /* font-family: 'Luckiest Guy', cursive; */
    color: #eee;
    font-size: 25px;
    padding-top: 1em;
    width: 900px;
    margin: auto;
}

.gameOverHeading{
    font-size: 100px;
    font-family: 'Anton', sans-serif;
}

.middleSection{
    opacity: 0;
}

.middleSection2{
    padding-top: 4em;
}

/* ------------- */

header{
    width: fit-content;
    margin: auto;
}

.container{
    width: 95%;
    height: 500px;
    display: grid;
    margin: 2em auto;
    grid-template-columns: 1fr 1fr;
}



.gamePic{
    width: 95%;
    height: 500px;
    border: 1px #bbb solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.boxCover{
    width: 100%;
    height: 14.66%;
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insideBox{
    color: white;
    font-size: 18px;
    font-family: 'Luckiest Guy', cursive;
    opacity: 0;
}

.stat{
    margin-bottom: 1em;
    font-family: 'Luckiest Guy', cursive;
    color: #bbb;
}

#hideChance{
    margin-top: 0;
}

.game h3{
    font-size: 30px;
}

.border{
    border: 1px black solid;
}

.output{
    display: flex;
    width: fit-content;
    margin: 1em auto 0 auto;
}

#between{
    font-size: 45px;
    margin-bottom: 1em;
    font-family: 'Permanent Marker', cursive;
    color: #eee;
    border-bottom: 1px #eee solid;
}

#press{
    margin-bottom: 1em;
    font-family: 'Permanent Marker', cursive;
    color: #bbb;
}

.new{
    margin: 5px;
    border-bottom: 1px white solid;
    padding: 5px;
    min-width: 15px;
    font-family: 'Luckiest Guy', cursive;
}

.hidden{
    opacity: 0;
    text-transform: uppercase;
}

.show{
    opacity: 1;
    text-transform: uppercase;
    color: white;
    font-family: 'Luckiest Guy', cursive;

}

.space{
    min-width: 15px;
    padding: 5px;
    margin: 5px;
}

.stats{
    margin-top: 1em;
}

.used{
    text-transform: uppercase;
    margin-top: 1em;
    font-family: 'Luckiest Guy', cursive;
    color: #bbb;
}


.huge{
    font-size: 70px;
    font-family: 'Luckiest Guy', cursive;
    color: #bbb;
}

.main-bodyHide{
    display: none;
}

.main-bodyShow{
    background-color: rgb(21, 28, 31);
    height: 100vh;
    display: block;
    z-index: 500;

}

