body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}

/* Modal Section */

.modal{
    width: 100%;
    height: 100vh;
    background-image: url("../images/ThePrincessBride.jpg");
    /* background-color: black; */
    background-size: contain;
    /* background-position: center; */
    background-repeat: space;
}

.rules{
    width: 710px;
    /* right: 10vw; */
    left: calc(50vw - 356px);
    background-color: black;
    color: white;
    /* top: 10vh; */
    border: solid black 1px;
    position: absolute;
    z-index: 3;
    padding: 10px;
}

.rule{
    margin: 5px 0;
}

#closeModal{
    width: fit-content;
    margin: auto;
    cursor: pointer;
}


/* ------------- */

header{
    width: fit-content;
    margin: auto;
}

.container{
    width: 90%;
    height: 500px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
}

.gamePic{
    width: 95%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}





.stat{
    margin-top: 1em;
}

#hideChance{
    margin-top: 0;
}

.game h3{
    font-size: 30px;
}

.border{
    border: 1px black solid;
}

.output{
    display: flex;
    width: fit-content;
    margin: 2em auto 0 auto;

}

#between{
    font-size: 45px;
    margin-bottom: 1em;
    font-family: 'Permanent Marker', cursive;
    color: #333;
}

#press{
    margin-bottom: 1em;
    font-family: 'Monoton', cursive;
}

.new{
    margin: 5px;
    border-bottom: 1px black solid;
    padding: 5px;
    min-width: 15px;
    font-family: 'Luckiest Guy', cursive;

}

.hidden{
    opacity: 0;
    text-transform: uppercase;
}

.show{
    opacity: 1;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;

}

.space{
    min-width: 15px;
    padding: 5px;
    margin: 5px;
}

.stats{
    margin-top: 1em;
    font-family: 'Luckiest Guy', cursive;
}

.used{
    text-transform: uppercase;
    margin-top: 1em;
}


.huge{
    font-size: 70px;
    font-family: 'Luckiest Guy', cursive;

}
#main-body{
    display: none;
}